@import "tailwindcss";

@import "tailwindcss";

:root {
  color-scheme: light;
}

:root.dark {
  color-scheme: dark;
}

body {
  font-family: var(--font-geist-sans), system-ui, -apple-system, sans-serif;
}
